/* .main {
} */

.nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 80px;
  align-items: center;
  font-size: 16px;
  line-height: 1.2;
}

.navHomeIcon {
  border-radius: 100%;
}

.navMenuUl {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px;
}

.navResumeBtn {
  padding: 12px 18px;
  border-radius: 40px;
  background: #fff1b8;
  border: none;
}

.hero {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  gap: 24px;
}

.heroAvatar {
  border-radius: 100%;
}

.heroName {
  display: flex;
  font-size: 24px;
}

.heroQuote {
  font-size: 48px;
  max-width: 1086px;
  margin-top: 16px;
}

.heroDesc {
  color: #616161;
  font-size: 20px;
  font-weight: 400;
}

.skill {
  height: 100vh;
  padding: 38px 80px 0;
  background-color: #fff1b840;
}

.skillTitle {
  color: #0a2926;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}

.skillDesc {
  max-width: 737px;
  color: #1f2529;
  margin-top: 26px;
  font-size: 20px;
  line-height: 1.2;
}

.projects {
  display: flex;
  padding: 120px 80px 80px;
  background: #edf0f3;
  flex-direction: column;
}

.projectsTitle {
  color: #1f2529;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 40px;
  text-decoration: underline #fff1b8 4px solid;
  text-underline-position: above;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.projectCard {
  display: flex;
  justify-content: space-between;
  line-height: 1.2;
  width: 100%;
}

.projectTitle {
  color: #1f2529;
  text-align: justify;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 2.4px;
}

.projectDesc {
  margin: 24px 88px 80px 0;
  width: 519px;
  color: #262626;
  font-size: 20px;
}

.projectTags {
  display: flex;
  gap: 24px;
}

.projectTag {
  padding: 8px 12px;
  border-radius: 40px;
  background: #fff1b8;
  font-size: 12px;
}
